// fonts
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("./assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url("./assets/fonts/SourceSansPro-LightItalic.ttf");
}
